* {
  box-sizing: border-box;
}

span{
  margin:10px;
}

.modal-all{
  color:black;
  height:100%;
  width:100%;
}

.modal-title{
  text-align:center;
  font-size:2rem;
  border-bottom: solid 1px rgb(239, 239, 239);
}

.modal-header{
  text-align:center;
  font-size:1.5rem;
  border-bottom: solid 0px white;
  margin:0;
  padding:16px 70px 16px;
}

.modal-skill{
  padding:0 0 8px 80px;
  font-size:1rem;
  margin:0;
  text-align:left;
}

.modal-space{
  margin:20px 150px 0;
}

.modal-space2{
  margin:10px 150px 10px;
}

.button {
  display: inline-block;
  text-align:center;
  width: 200px;
  padding: 4px;
  margin: 0px 10px 10px 10px;
  border-radius: 4px;
  background-color: #BBB;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1rem;
  border: 2px solid #888;
}

.button2{
  display: inline-block;
  text-align:center;
  width: 200px;
  padding: 4px;
  margin: 0px 10px 10px 10px;
  border-radius: 4px;
  background-color: #afa58d;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1rem;
  border: 2px solid #888;
}

body {
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  background: url('images/keyboard-886462_1920.jpg') fixed;
    background-size: auto;
}

.header {
  padding: 170px 30px 80px;
  height: 100vh;
  background-color: rgba(25, 25, 120, 0.9);
}

.site-title-sub {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.site-title {
  margin: 50px;
  font-size: 4.5rem;
}

.site-description {
  margin-bottom: 50px;
  color: #888;
}

.button:hover .button2:hover{
  opacity: 0.9;
}

.button-orange {
  background-color: #f1b400;
}

.button-black{
  background-color: #999;
}

.about {
  height: 100vh;
  padding: 80px 30px;
  background-color: #ffffff;
  color: #333;
}

.about-text {
  width: 600px;
  line-height: 2.5;
  text-align: left;
}

.in{
  color:black;
  font-size:20px;
  margin-bottom:-40px;
}

.cv{
  color:black;
  font-size:1.0rem;
}

.line-bottom{
  color:black;
  font-size:1.0rem;
  border-bottom: solid 2px orange;
  width:48px;
}

.about-flex{
  display:flex;
}

.heading {
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 4rem;
  border-bottom: double 4px #999;
}

.works {
  height: 100vh;
  background-color: #383634;
  padding: 80px 0 10px;
}

.works-wrapper {
  width: 970px;
  margin: 60px auto 0;
}

.work-box {
  float: left;
  background-color: rgba(100, 100, 100, 0.3);
  border: 1px solid #333;
  height:100%;
  margin:0 10px;
}

.box1{
  margin:0 0 0 150px;
}

.work-image {
  display: block;
  width: 320px;
  height:192px;
  margin:0 auto;
}

.works-text{
  line-height:1.2rem;
  padding:0 10px 0;
}

.size{
  width:500px;
  height:400px;
  margin-top:30px;
}

.work-description {
  margin: 20px 0;
}

.textbox{
  width:320px;
  line-height: 1.0;
}

.work-description{
  margin-top: 20px;
  padding: 3px;
}

.contact {
  height: 100vh;
  padding: 80px 0 150px;
  background-color: rgba(25, 25, 120, 0.9);
}

.contact-all{
  display: flex;
}

.contact-image{
  width:100%;
  height:400px;
}

.twitter{
  padding:0;
}

.facebook{
  margin-top:40px;
}

.contact-mail{
  width:100%;
  display:flex;
  margin: 50px auto 0;
  padding-left:450px;
}

.gmail{
  width:50px;
  height:50px;
  margin-top:10px;
}

.hot{
  font-size: 3.0rem;
  margin:0 0 0 5px;
}

html{
  scroll-behavior: smooth;
}

#page_top{
  width: 90px;
  height: 90px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #ef3f98;
  opacity: 0.6;
  border-radius: 50%;
  margin:0 60px 50px 0;
}
#page_top a{
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.detail{
  margin-left:110px;
}

@media screen and (max-width:375px){

.modal-space{
  margin:20px 70px 0;
}

.modal-space2{
  margin:10px 70px 10px;
}

.site-title {
  margin: 10px 10px 50px 0;
  font-size: 3rem;
}

.site-title-sub {
  margin: 0 0 50px;
  letter-spacing: 1px;
  font-size: 1.0rem;
}

#page_top{
  width: 90px;
  height: 90px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #ef3f98;
  opacity: 0.6;
  border-radius: 50%;
  margin:0 30px 30px 0;
}

.about {
  height: 100%;
  padding: 80px 30px;
  background-color: #ffffff;
  color: #333;
}

.work-image {
  display: block;
  width: 320px;
  height:230px;
  margin:0 auto;
}

.about-flex{
  display:block;
}

.about-text {
  width: 300px;
  line-height: 1.5;
  text-align: left;
}

.in{
  color:black;
  font-size:15px;
  margin-bottom:-40px;
}

.works-wrapper {
  width: 100%;
  margin: 60px auto 0;
}

.box1{
  margin-left:30px;
}

.box2{
  margin:20px 0 0 30px;
}

.works {
  height: 1400px;
  background-color: #383634;
  padding: 80px 0 10px;
}

.contact-all{
  display: flex;
  margin-left:1px;
}

.contact {
  height: 100%;
  padding: 80px 0 150px;
  background-color: rgba(25, 25, 120, 0.9);
}

.contact-mail{
  width:100%;
  display:flex;
  margin: 50px auto 0;
  padding-left:0;
}

.hot{
  font-size: 1.9rem;
  margin:50px 0 0 5px;
}

.gmail{
  width:40px;
  height:40px;
  margin-left:30px;
  margin-top:50px;
}

.twitter{
  padding:0;
  margin-top:110px;
  width:200px;
  height:200px;
}

.facebook{
  margin-top:145px;
  width:130px;
  height:130px;
}

.contact-image{
  width:100%;
  height:100%;
}

.detail{
  margin-left:100px;
}

}

@media screen and (min-width:380px) and (max-width:1024px){

.modal-space{
  margin:20px 90px 0;
}

.modal-space2{
  margin:10px 90px 10px;
}

.site-title {
  margin: 10px 10px 50px 0;
  font-size: 3rem;
}

.site-title-sub {
  margin: 0 0 50px;
  letter-spacing: 1px;
  font-size: 1.0rem;
}

#page_top{
  width: 90px;
  height: 90px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #ef3f98;
  opacity: 0.6;
  border-radius: 50%;
  margin:0 30px 30px 0;
}

.about {
  height: 100%;
  padding: 80px 30px;
  background-color: #ffffff;
  color: #333;
}

.work-image {
  display: block;
  width: 320px;
  height:230px;
  margin:0 auto;
}

.about-flex{
  display:block;
}

.about-text {
  width: 300px;
  line-height: 2.5;
  text-align: left;
}

.in{
  color:black;
  font-size:15px;
  margin-bottom:-40px;
}

.works-wrapper {
  width: 100%;
  margin: 60px auto 0;
}

.box1{
  margin-left:45px;
}

.box2{
  margin:20px 0 0 45px;
}

.works {
  height: 1400px;
  background-color: #383634;
  padding: 80px 0 10px;
}

.contact-all{
  display: flex;
  margin-left:1px;
}

.contact {
  height: 100%;
  padding: 80px 0 150px;
  background-color: rgba(25, 25, 120, 0.9);
}

.contact-mail{
  width:100%;
  display:flex;
  margin: 50px auto 0;
  padding-left:20px;
}

.hot{
  font-size: 1.9rem;
  margin:55px 0 0 5px;
}

.gmail{
  width:40px;
  height:40px;
  margin-left:10px;
  margin-top:50px;
}

.twitter{
  padding:0;
  margin-top:110px;
  width:200px;
  height:200px;
}

.facebook{
  margin-top:145px;
  width:130px;
  height:130px;
}

.contact-image{
  width:100%;
  height:100%;
}

.detail{
  margin-left:100px;
}
}
  